@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: var(--font-family);
    color: var(--text-color);
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

:root {
    --body-background: #0e0e0e;
    --color-logo: #ff5b50;
    --card-color: #252525;
    --text-color: #fff;
    --subtitle-color: #5a5757;
    --black-text: #000;
    --color-input: #0D0D0D;
    --font-family: 'Montserrat', sans-serif;
  }


body{
    background-image: url(../assets/background.png);
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 100vw 100vh ;
    overflow-x: hidden;
}

/* Header */
header{
    height: 50px;
    width: 90%;
    display: flex;
    margin: 50px 5%;
    justify-content: space-evenly;

}

#companyName{
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    cursor: pointer;
}

strong{
    color: var(--color-logo);
}

#login{
    height: 100%;
    width: 230px;
    font-weight: 700;
    color: var(--black-text);
    background-color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#login:hover{
    cursor: pointer;
}

#login img{
    height: 30px;
    width: 30px;
}

#login span{
    color: var(--black-text);
}

.menu {
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu a{
    font-weight: 400;
    font-size: 18px;
}

/* Main */
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

section, picture, article, footer{
    padding: 0 5%;
}

#home{
    display: grid;
    align-items: center;
    grid-template: auto auto / auto auto auto;
    justify-items: center;
    margin-bottom: 50px;
}

#home h1{
    grid-column: 2;
    grid-row: 1 / 3;
    font-size: 50px;
    max-width: 600px;
}

#logo{
    max-height: 150px;
    max-width: 150px;
    height: auto;
    width: 80%;
    grid-column: 3;
    grid-row: 1 / 3;
}

#home p {
    font-size: 18px;
    max-width: 400px;
}

#avatars {
    display: flex;
    align-items: flex-end;
    place-self: start;
}

/* Gallery */
#gallery{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.gallery {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.gallery img{
    height: auto;
    width: 24%;
    border: 1px solid var(--text-color);
}

/* datas */
#datas{
    background-color: var(--body-background);
    grid-template: 50% 50% / 20% 80%;
    display: grid;
    max-height: 50vh;
    overflow: hidden;
}

#numbers {
    grid-column: 1;
    grid-row: 1 / 4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 90%;
    align-items: center;
}

.data{
    flex-direction: column;
    text-align: center;
}

.data h3 {
    font-size: 50px;
}

.data h4{
    color: var(--subtitle-color);
    font-size: 20px;
}


#texts{
    display: flex;
    column-gap: 15px;
    border-left: 3px solid var(--subtitle-color);

}

.text{
    width: 50%;
    text-align: justify;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding-left: 30px;
}

#texts p{
    font-size: 18px;
    color: var(--text-color);
    max-width: 500px;
}

#texts strong{
    font-size: 18px;
    color: var(--subtitle-color);
    text-decoration: underline;
    cursor: pointer;
}

#banner{
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    height: 100%;
    width: 80vw;
    max-height: 300px;
}

/* topOfWeek */

#topOfWeek {
    padding: 10vh 30px;
    display: flex;
    background-color: var(--body-background);
    flex-wrap: wrap;
    align-items: center;
}

#topOfWeek h2, #topArtists h2{
    margin-bottom: 50px;
    width: 100%;
    text-align: center;
}

.art {
    display: flex;
    row-gap: 20px;
    width: 50%;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;

}

.info1, .info2{
    display: flex;
    justify-content: space-between;
}

.info1 img{
    transition: .4s ease-in;
}

.info1 img:hover{
    transform: scale(1.1);
    transition: .6s ease-in;
}

.info1, .info2, .info3{
    width: 80%;
    max-width: 450px;
    max-height: 300px;
}

.info3{
    max-width: 450px;
    max-height: 300px;
}

.info1 h3{
    font-weight: 500;
}

.info2 span{
    color:var(--color-logo)
}

.info2 h4{
    font-weight: 600;
    color: var(--subtitle-color);
}

#divider {
    position: absolute;
    height: 80%;
    width: 3px;
    background-color: var(--subtitle-color);
    left: 50%;
    transform: translate(100%, 10%);
}

#topArtists{
    background-color: var(--body-background);
    width: 100%;
    text-align: center;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
}

.artists{
    display: grid;
    grid-template: 50% 50% / 33.3% 33.3% 33.3%;
    justify-items: center;
    align-items: center;
    grid-gap: 10px 0;
}

#topArtists span{
    font-size: 20px;
}

.artist{
    width: 280px;
    height: 150px;
    display: flex;
    background-color: var(--card-color);
    align-items: center;
    justify-content: center;
    transition: .4s ease-in;
}

.artist[firstPlace] strong{
    color: var(--text-color);
}

.artist[firstPlace]{
    cursor: pointer;
    background-color: var(--color-logo);
}

.artist img{
    height: 50%;
}

.infos{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10%;
    gap: 15px;
}

#topArtists button {
    height: 40px;
    font-size: 18px;
    color: var(--text-color);
    background: #00000000;
    border: none;
    padding: 10px;
    margin: 10px;
}

/* Footer */
footer{
    width: 100%;
    background-color: var(--body-background);
    display: flex;
    flex-direction: column;
    min-height: 30vh;
    border: 1px solid var(--subtitle-color);
}

#topFooter, #bottomFooter{
    margin: 0 auto;
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#topFooter h3{
    font-size: 40px;
}

#topFooter button{
    border: none;
    background-color: var(--color-logo);
}
#topFooter img{
    height: 80px;
    width: 80px;
    padding: 20px;
}

#MiddleFooter {
    height: 35%;
    display: flex;
    align-items: center;
}

#subscription{
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 30px;
    height: 100%;
}

#info{
    border-left: 2px solid var(--subtitle-color);
    width: 50%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 20px 5%;
    height: 100%;
}

#info h4{
    font-weight: 700;
}

ul{
    gap: 10px;
}
li a{
    color: var(--subtitle-color);
    font-weight: 400;
}

#inputs{
    height: 50px;
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
}

input, input[type="submit"]{
    height: 100%;
    border: none;
    width: 50%;
    background-color: var(--color-input);
}

input:focus { outline: none; }

input[type="email"]{
    padding-left: 15px;
}
input[type="submit"]{
    cursor: pointer;
    width: 30%;
    background-color: var(--text-color);
    color: var(--black-text);
    font-weight: 700;
}

#bottomFooter{
    min-height: 50px;
}

#credits a{
    color: var(--subtitle-color);
}

#social {
    gap: 10px;
    display: flex;
}

#top{
    cursor: pointer;
}

@media only screen and (max-width: 950px) {
    .artist{
        width: 90%;
        margin: 0 5%;
        height: 100px;
    }

    #topArtists{
        min-height: auto;
    }
}

@media only screen and (max-width: 950px) {
    #gallery{
        flex-direction: row;
    }

    .gallery{
        flex-direction: column;
        width: 50%;
    }

    .gallery img{
        width: auto;
    }

    picture{
        background-color: var(--body-background);
        padding-bottom:50px;
    }

    #datas{
        display: block;
        max-height: none;
        overflow: visible;
    }

    #datas img{
        width: 100%;
    }

    #numbers{
        flex-direction: row;
    }

    #texts{
        border: none;
        padding-bottom: 30px;
    }

    #divider{
        display: none;
    }

    .artists{
        display: flex;
        flex-direction: column;
    }

    #MiddleFooter{
        flex-direction: column;
    }

    #topFooter{
        justify-content: center;
        gap: 30px;
    }

    #info{
        width: 100%;
    }

    #home{
        display: flex;
        flex-direction: column;
    }

    #home h1{
        font-size: 40px;
        text-align: center;
    }

    #home p{
        text-align: center;
    }
    #avatars{
        margin: 0 auto;
    }

    header{
        flex-direction: column;
        align-items: center;
    }

    #inputs{
        display: flex;
        justify-content: center;
    }

    #subscription{
        text-align: center;
        width: 100%;
    }
}